@import url("https://fonts.googleapis.com/css2?family=DotGothic16&family=Knewave&family=Monoton&family=Quattrocento:wght@400;700&family=Train+One&display=swap");

body {
  margin: 0;
}

body {
  color: rgb(80, 80, 80);
}
a {
  text-decoration: inherit;
}

span {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* .css-1cbv6m4-MuiGrid-root > .MuiGrid-item {
  padding-left: 0px !important;
}

.css-v74li1-MuiGrid-root > .MuiGrid-item {
  padding-left: 0px !important;
}

.css-9ztnf7-MuiGrid-root > .MuiGrid-item {
  padding-left: 0px !important;
} */

.quattrocento-regular {
  font-family: "Quattrocento", serif !important;
  font-weight: 400;
  font-style: normal;
  color: #e43d12;
}

.knewave-regular {
  font-family: "Knewave", serif !important;
  font-weight: 400;
  font-style: normal;
  color: #e43d12;
}

.dotgothic16-regular {
  font-family: "DotGothic16", sans-serif !important;
  font-weight: 400;
  font-style: normal;
  color: #e43d12;
}

.train-one-regular {
  font-family: "Train One", system-ui !important;
  font-weight: 400;
  font-style: normal;
  color: #e43d12;
}
h2 {
  padding: 0;
}
